{% extends 'public_layout.html.twig' %}

{% block content_header_title %}{{ 'home.index.title'|trans }}{% endblock %}

{% block content_body %}
    {% if introduction is not empty %}
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-outline">
                    <div class="card-body">
                        <p class="card-text">{{ introduction|raw }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="row">
        {% for order_form in order_forms %}
            <div class="col-lg-6">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h5 class="card-title m-0">{{ order_form.title }}</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ order_form.description|nl2br }}</p>

                        <a href="{{ path('order_form_reply', {'orderForm':order_form.id}) }}" class="btn btn-primary">
                            {{ 'home.index.actions.reply_order_form'|trans }}
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
