{% extends '_skeleton/_card.html.twig' %}

{% block card_tools %}
    {% block card_form_btn_delete %}
        {% if url_delete is defined %}
            <a href="{{ url_delete }}" class="btn btn-danger btn-sm">
                <i class="fa fa-trash"></i>
                <span class="d-none d-md-inline">{{ 'meta.word.delete'|trans }}</span>
            </a>
            &nbsp;-&nbsp;
        {% endif %}
    {% endblock %}

    {% block card_form_btn_cancel %}
        {% if url_cancel is defined %}
            <a href="{{ url_cancel }}" class="btn btn-secondary btn-sm">
                <i class="fa fa-chevron-left"></i>
                <span class="d-none d-md-inline">{{ 'meta.word.back'|trans }}</span>
            </a>
        {% endif %}
    {% endblock %}

    {% block card_form_btn_update %}
        {% if url_edit is defined %}
            <a href="{{ url_edit }}" class="btn btn-warning btn-sm">
                <i class="far fa-edit"></i>
                <span class="d-none d-md-inline">{{ 'meta.word.edit'|trans }}</span>
            </a>
        {% endif %}
    {% endblock %}
{% endblock %}
