<div class="form-inline">
    <div class="btn-group">
        <button class="btn btn-outline-secondary btn-sm dropdown-toggle" id="{{ table.id }}_setup"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-cog"></span> {{ "kiliktable.setup" |trans }}
        </button>

        <div class="dropdown-menu hold-on-click dropdown-checkboxes" aria-labelledby="{{ table.id }}_setup">
            <ul class="table">
                {% for column in table.columns %}
                    {% set label = column.label %}
                    {% if column.translateDomain is not null %}
                        {% set label = (column.label | trans({}, column.translateDomain)) %}
                        {% if column.capitalize %}
                            {% set label = label | capitalize %}
                        {% endif %}
                    {% endif %}

                    <li>
                        <input type="checkbox" id="check-setup-{{ column.name }}" data-column="{{ column.name }}"
                               data-setup="{{ table.id }}" class="input"/>
                        {{ label }}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <button type="button" class="btn btn-outline-secondary btn-sm btn-clear-filters d-none" id="btnGroupDropFilter">
            <i class="fa-solid fa-filter-circle-xmark"></i>
            <span id="nbFilters"
                  class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning"></span>
        </button>
    </div>

    &nbsp;
    <select id="{{ table.id }}_rows_per_page" class="form-control form-control-sm">
        {% for rowsPerPage in table.rowsPerPageOptions %}
            <option value="{{ rowsPerPage }}">{{ rowsPerPage }}</option>
        {% endfor %}
    </select>
    &nbsp;
    <label for="{{ table.id }}_rows_per_page" class="d-none d-md-inline">
        {{ "kiliktable.rows_per_page" |trans }}
    </label>
</div>
