{% extends 'layout.html.twig' %}

{% block content_header_title %}{{ 'order.edit.title'|trans }}{% endblock %}

{% block content_body %}
    {% embed '_skeleton/_card.html.twig' with {'entity': order} %}
        {% block card_tools %}
            <a href="{{  path('order_delete', {'order':order.id}) }}" class="btn btn-danger btn-sm">
                <i class="fa fa-trash"></i>
                <span class="d-none d-md-inline">{{ '_meta.word.delete'|trans }}</span>
            </a>
            &nbsp;-&nbsp;

            <a href="{{ path('order_list') }}" class="btn btn-secondary btn-sm">
                <i class="fa fa-chevron-left"></i>
                <span class="d-none d-md-inline">{{ '_meta.word.back'|trans }}</span>
            </a>

            <a href="{{  path('order_edit_header', {'order':order.id}) }}" class="btn btn-primary btn-sm">
                <i class="fa fa-edit"></i>
                <span class="d-none d-md-inline">{{ '_meta.word.edit'|trans }}</span>
            </a>
        {% endblock %}

        {% block card_body %}
            <div class="row">
                <div class="col-lg-6">
                    <table class="table table-no-bordered">
                        <tr>
                            <th>{{ 'order.label.id'|trans({}, 'forms') }}</th>
                            <th># {{ order.id }}</th>
                        </tr>
                        <tr>
                            <th>{{ 'order.label.member'|trans({}, 'forms') }}</th>
                            <td>
                                <a href="{{ path('member_edit', {'member':order.member.id}) }}">
                                    {{ order.member.fullName }}
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-lg-6">
                    <table class="table table-no-bordered">
                        <tr>
                            <th>{{ 'order.label.notes'|trans({}, 'forms') }}</th>
                            <td class="text-left">{{ order.notes|nl2br }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        {% endblock %}
    {% endembed %}

    <div class="row">
        <div class="col-md-12">
            {% embed '_skeleton/_card.html.twig' %}
                {% block card_tools %}
                    <a href="{{ path('order_line_create', {'order':order.id, 'type':constant('App\\Entity\\OrderLine::TYPE_SIMPLE')}) }}"
                       class="btn btn-primary btn-sm">
                        <i class="fa fa-plus"></i>
                        <span class="d-none d-md-inline">{{ 'order.edit.actions.add_order_line.simple'|trans }}</span>
                    </a>
                    <a href="{{ path('order_line_create', {'order':order.id, 'type':constant('App\\Entity\\OrderLine::TYPE_ACTIVITY_SUBSCRIPTION')}) }}"
                       class="btn btn-primary btn-sm">
                        <i class="fa fa-plus"></i>
                        <span class="d-none d-md-inline">{{ 'order.edit.actions.add_order_line.activity_subscription'|trans }}</span>
                    </a>
                    <a href="{{ path('order_line_create', {'order':order.id, 'type':constant('App\\Entity\\OrderLine::TYPE_ALLOWANCE')}) }}"
                       class="btn btn-primary btn-sm">
                        <i class="fa fa-plus"></i>
                        <span class="d-none d-md-inline">{{ 'order.edit.actions.add_order_line.allowance'|trans }}</span>
                    </a>
                {% endblock %}
                {% block card_body %}
                    <div id="order-lines">
                        <table class="table table-bordered table-sm">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th colspan="2">{{ 'order_line.label.label'|trans({}, 'forms') }}</th>
                                    <th class="text-right">{{ 'order_line.label.amount'|trans({}, 'forms') }}</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for line in order.lines %}
                                {# @var App\Entity\OrderLine line #}
                                <tr>
                                    <td><strong>{{ line.position + 1 }}</strong></td>
                                    <td style="width: 70%">
                                        {{ line.label|nl2br }}
                                    </td>
                                    <td class="text-right">
                                        {% if line.type == constant('App\\Entity\\OrderLine::TYPE_ALLOWANCE') and line.allowancePercentage %}
                                            {{ line.allowancePercentage }}%  <i class="fa fa-times"></i>  {{ line.allowanceBaseAmount|format_currency('EUR') }}
                                        {% endif %}
                                    </td>
                                    <td class="text-right">{{ line.amount|format_currency('EUR') }}</td>
                                    <td class="text-center">
                                        <a href="{{ path('order_line_edit', {'order':order.id, 'line':line.id }) }}" class="btn btn-primary btn-sm">
                                            <span class="fa fa-edit"></span>
                                        </a>
                                        <a href="{{ path('order_line_delete', {'order':order.id, 'line':line.id }) }}" class="btn btn-danger btn-sm">
                                            <span class="fa fa-trash"></span>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="2" class="border-0">&nbsp;</td>
                                    <th class="bg-primary text-right">{{ 'order.label.total_amount'|trans({}, 'forms') }}</th>
                                    <th class="bg-primary text-right">{{ order.totalAmount|format_currency('EUR') }}</th>
                                </tr>
                                {% if order.paidAmount > 0 %}
                                    <tr>
                                        <td colspan="2" class="border-0">&nbsp;</td>
                                        <th class="text-right">{{ 'order.label.paid_amount'|trans({}, 'forms') }}</th>
                                        <th class="text-right">{{ order.paidAmount|format_currency('EUR') }}</th>
                                    </tr>
                                    <tr>
                                        <td colspan="2" class="border-0">&nbsp;</td>
                                        <th class="text-right">{{ 'order.label.due_amount'|trans({}, 'forms') }}</th>
                                        <th class="text-right">{{ (order.totalAmount - order.paidAmount)|format_currency('EUR') }}</th>
                                    </tr>
                            {% endif %}
                            </tfoot>
                        </table>
                    </div>
                {% endblock %}
            {% endembed %}
        </div>
    </div>
{% endblock %}
