{% extends 'public_layout.html.twig' %}

{% block content_header_title %}{{ order.identifier }}{% endblock %}

{% block content_body %}
    <div class="row">
        <div class="col-lg-12">
            {% embed '_skeleton/_card.html.twig' %}
                {% block card_tools %}
                    <a href="{{ path('homepage') }}" class="btn btn-secondary btn-sm">
                        <i class="fa fa-chevron-left"></i>
                        <span class="d-none d-md-inline">{{ '_meta.word.back'|trans }}</span>
                    </a>
                {% endblock %}

                {% block card_body %}
                    <h5>{{ 'order.pay.msg_intro'|trans({'%member%':order.member.fullName})|nl2br }}</h5>
                    <br />

                    <table class="table table-sm">
                        {% for line in order.lines %}
                            {# @var App\Entity\OrderLine line #}
                            <tr>
                                <td>
                                    {{ line.label|nl2br }}
                                    {% if line.type == constant('App\\Entity\\OrderLine::TYPE_ALLOWANCE') and line.allowancePercentage %}
                                        (- {{ line.allowancePercentage }}%)
                                    {% endif %}
                                </td>
                                <td class="text-right">{{ line.amount|format_currency('EUR') }}</td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <th>{{ 'order.label.total_amount'|trans({}, 'forms') }}</th>
                            <td class="text-right">{{ order.totalAmount|format_currency('EUR') }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'order.label.paid_amount'|trans({}, 'forms') }}</th>
                            <td class="text-right">{{ order.paidAmount|format_currency('EUR') }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'order.label.due_amount'|trans({}, 'forms') }}</th>
                            <th class="text-right">{{ order.dueAmount|format_currency('EUR') }}</th>
                        </tr>
                    </table>

                    <br />
                    <p>{{ 'order.pay.msg_payment'|trans({'%member%':order.member.fullName})|nl2br }}</p>

                {% endblock %}
            {% endembed %}

            {% if hello_asso %}
                {% embed '_skeleton/_card.html.twig' %}
                    {% block card_title %}{{ 'payment.choice.method.hello_asso'|trans({}, 'forms') }}{% endblock %}
                    {% block card_body %}
                        <p>{{ 'payment.help.method.hello_asso'|trans({}, 'forms')|nl2br }}</p>
                        <div class="callout callout-info">{{ 'payment.help.method.hello_asso_regulatory_text'|trans({}, 'forms')|nl2br }}</div>
                        <a href="{{ path('order_pay_with_hello_asso', {'identifier':order.identifier}) }}" class="btn btn-primary btn-sm">
                            <i class="far fa-credit-card"></i>
                            {{ 'order.pay.actions.pay_with_hello_asso'|trans }}
                        </a>
                    {% endblock %}
                {% endembed %}
            {% endif %}

            {% if payment_method_bank_transfer_iban %}
                {% embed '_skeleton/_card.html.twig' %}
                    {% block card_title %}{{ 'payment.choice.method.bank_transfer'|trans({}, 'forms') }}{% endblock %}
                    {% block card_body %}
                        <p>{{ 'order.pay.payment_method_bank_transfer_iban'|trans }} <strong>{{ payment_method_bank_transfer_iban }}</strong></p>
                        <p>{{ 'order.pay.payment_method_bank_transfer_bic'|trans }} <strong>{{ payment_method_bank_transfer_bic }}</strong></p>
                        <p>{{ 'order.pay.payment_method_bank_transfer_msg'|trans({'%order%':order.identifier}) }}</p>
                    {% endblock %}
                {% endembed %}
            {% endif %}

            {% if payment_method_cheque_instruction %}
                {% embed '_skeleton/_card.html.twig' %}
                    {% block card_title %}{{ 'payment.choice.method.cheque'|trans({}, 'forms') }}{% endblock %}
                    {% block card_body %}
                        <p>{{ payment_method_cheque_instruction|nl2br }}</p>
                    {% endblock %}
                {% endembed %}
            {% endif %}

            {% if payment_method_other_instruction %}
                {% embed '_skeleton/_card.html.twig' %}
                    {% block card_title %}{{ 'order.pay.payment_method_other_title'|trans }}{% endblock %}
                    {% block card_body %}
                        <p>{{ payment_method_other_instruction|nl2br }}</p>
                    {% endblock %}
                {% endembed %}
            {% endif %}
        </div>
    </div>
{% endblock %}
